@page "/roles"
@layout MainLayout
@using ecommerce.Admin.Domain.Dtos.Role
@using ecommerce.Admin.Components.Layout
@using Radzen
@using Radzen.Blazor

<PageTitle>Rol Yönetimi</PageTitle>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-6">
            <h1 class="h3 mb-0 text-gray-800">Rol Yönetimi</h1>
        </div>
        <div class="col-6 text-end">
            <RadzenButton Icon="add" Text="Yeni Rol Ekle" Click="@(() => OpenUpsertModal())" ButtonStyle="ButtonStyle.Primary" />
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <AdminDataGrid @ref="grid" 
                            Data="@RolesList" 
                            TItem="RoleListDto" 
                            AllowFiltering="true" 
                            FilterMode="FilterMode.Advanced" 
                            AllowPaging="true" 
                            AllowSorting="true" 
                            PageSize="10" 
                            AllowColumnResize="true"
                            AllowAlternatingRows="false"
                            PagerHorizontalAlign="HorizontalAlign.Left"
                            ShowPagingSummary="true"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            SelectionMode="DataGridSelectionMode.Single">
                <Columns>
                    <RadzenDataGridColumn TItem="RoleListDto" Property="Id" Title="#" Width="70px" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="RoleListDto" Property="Name" Title="Rol Adı" Width="200px" />
                    <RadzenDataGridColumn TItem="RoleListDto" Property="NormalizedName" Title="Normalize Ad" Width="200px" />
                    <RadzenDataGridColumn TItem="RoleListDto" Title="İşlemler" TextAlign="TextAlign.Center" Width="100px" Filterable="false" Sortable="false">
                         <Template Context="role">
                            <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => OpenUpsertModal(role.Id))" @onclick:stopPropagation="true" class="me-1"/>
                            <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => DeleteRole(role))" @onclick:stopPropagation="true" />
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </AdminDataGrid>
        </div>
    </div>
</div>
