@using ecommerce.Admin.Components.Layout
@layout MainLayout

<RadzenTemplateForm TItem="ecommerce.Domain.Shared.Dtos.Bank.BankCreditCardPrefixDto.BankCreditCardPrefixUpsertDto" Data="model" Submit="Save">
    <RadzenFieldset Text="Kart Prefix Bilgileri">
        <div class="row g-3">
            <div class="col-md-12">
                <RadzenDropDown @bind-Value="model.CreditCardId" Data="bankCards" TextProperty="Name" ValueProperty="Id" Name="CreditCardId" Placeholder="Kart Seçiniz" Style="width:100%" 
                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
            </div>
            <div class="col-md-12">
                <RadzenTextBox @bind-Value="model.Prefix" Name="Prefix" Placeholder="Prefix" Style="width:100%" />
            </div>
            <div class="col-md-6">
                <RadzenCheckBox @bind-Value="model.Active" TValue="bool" />
                <label class="ms-2">Aktif</label>
            </div>
            <div class="col-md-6">
                <RadzenCheckBox @bind-Value="model.Deleted" TValue="bool" />
                <label class="ms-2">Silinmiş</label>
            </div>
        </div>
    </RadzenFieldset>

    <div class="d-flex justify-content-end mt-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Kapat" Click="Close" Style="margin-right:8px" />
        <RadzenButton ButtonType="ButtonType.Submit" Text="Kaydet" Icon="save" />
    </div>
</RadzenTemplateForm>
