@using ecommerce.Admin.Components.Layout
@layout MainLayout

<RadzenTemplateForm TItem="ecommerce.Domain.Shared.Dtos.Bank.BankParameterDto.BankParameterUpsertDto" Data="model" Submit="Save">
    <RadzenFieldset Text="Banka Parametresi Bilgileri">
        <div class="row g-3">
            <div class="col-md-12">
                <RadzenDropDown @bind-Value="model.BankId" Data="banks" TextProperty="Name" ValueProperty="Id" Name="BankId" Placeholder="Banka Seçiniz" Style="width:100%" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox @bind-Value="model.Key" Name="Key" Placeholder="Anahtar" Style="width:100%" />
            </div>
            <div class="col-md-6">
                <RadzenTextBox @bind-Value="model.Value" Name="Value" Placeholder="Değer" Style="width:100%" />
            </div>
        </div>
    </RadzenFieldset>

    <div class="d-flex justify-content-end mt-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="Kapat" Click="Close" Style="margin-right:8px" />
        <RadzenButton ButtonType="ButtonType.Submit" Text="Kaydet" Icon="save" />
    </div>
</RadzenTemplateForm>
