@page "/404"

<section class="breadcrumb-section pt-0">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-contain">
                    <h2>Sayfa Bulunamadı</h2>
                    <nav>
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active">404</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 404 Section Start -->
<section class="section-404 section-lg-space">
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="image-404">
                    <img src="../assets/images/inner-page/404.png" class="img-fluid blur-up lazyload" alt="404 Görseli">
                </div>
            </div>

            <div class="col-12">
                <div class="contain-404">
                    <h3 class="text-content">
                        Aradığınız sayfa bulunamadı. Bu bağlantı eski olabilir veya sayfa taşınmış olabilir.
                    </h3>
                        <a href="/"
                        class="btn btn-md text-white theme-bg-color mt-4 mx-auto">
                        Ana Sayfaya Dön
                        </a>
                
                </div>
            </div>
        </div>
    </div>
</section>